<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
	<head>
	   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
	   <title>{{ page.title }} - a blog of shoddy code by benny wong</title>
	   <meta name="author" content="Tom Preston-Werner" />
	   <link href="http://feeds.feedburner.com/bwong/craft" rel="alternate" title="Tom Preston-Werner" type="application/atom+xml" />
	   <link rel="stylesheet" href="/css/syntax.css" type="text/css" />
	   <link rel="stylesheet" href="/css/craft.css" type="text/css" media="screen, projection" />

	   <!-- Typekit -->
		<script type="text/javascript" src="http://use.typekit.com/brl3czf.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
	</head>
	<body>

		<div id="banner">
			<ul>
				<li>
					<h4>
						<a href="http://craft.bwong.net">Craft.Bwong.net</a>
					</h4>
				</li>
				<li><a href="/about.html">About</a></li>
				<li><a href="/projects.html">Projects</a></li>
				<li><a href="http://github.com/bdotdub">Github</a></li>
			</ul>
		</div>

		<div class="site">
		  <div class="title">
		    <a href="/">Craft</a>
				<span class='meta'>
					a blog of shoddy code from
					<a href="http://bwong.net/">benny wong</a>
				</span>
		  </div>
  
		  {{ content }}
  
		  <div class="footer">
		    <div class="contact">
		      <p>
		        Benny Wong<br />
		        benny@bwong.net
		      </p>
		    </div>
		    <div class="contact">
		      <p>
		        <a href="http://bwong.net/">bwong.net</a><br />
		        <a href="http://github.com/bdotdub">github.com/bdotdub</a><br />
		        <a href="http://twitter.com/bdotdub">twitter.com/bdotdub</a><br />
		      </p>
		    </div>
		    <div class="rss">
		      <a href="http://feeds.feedburner.com/bwong/craft">
		        <img src="/images/rss.png" alt="Subscribe to RSS Feed" border="0" />
		      </a>
		    </div>
		  </div>
		</div>

	</body>
</html>
